.App {
  display: flex;
  flex-direction: column; /* Keep the main direction as column for stacking */
  height: 100vh;
}

.chat-area {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 250px;
  padding-bottom: 60px; /* Added padding at the bottom */
  /* background-color: red; */
  overflow-y: auto; 
  flex-grow: 1;
  padding-right: 3rem;
}

.input-area {
  position: fixed;
  bottom: 0rem;
  left: 260px;
  right: 0;
  display: flex;
  align-items: center;
  background: white;
}

.input-box-container {
  display: flex;
  flex-grow: 1;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 1rem;
  border: 1.5px solid #D3D3D3;
  overflow: hidden;
  position: relative; /* Add this to position the button absolutely inside this container */
}

.textarea-wrapper {
  width: 100%;
  max-height: 12rem; /* Set the maximum height for the textarea */
  overflow-y: auto; /* Allows scrolling for overflow text */
}

.input-box {
  width: 100%;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  outline: none;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  resize: none;
  line-height: 1.5rem;
}

.send-button {
  position: absolute;
  right: 0.6rem;
  bottom: 0.35rem; /* Adjust as needed */
  background-color: #ddd;
  border: 1px solid #D3D3D3;
  font-size: 1rem;
  border-radius: 0.4rem;
  width: 1.85rem;
  height: 1.85rem;
  color: white;
}

.send-button.active {
  background-color: black;
}

/* Style for the fixed button to toggle the history pane */
.pane-toggle-button {
  position: fixed; /* Fix the position so it doesn't move with the pane */
  left: 0; /* Place it at the left edge of the screen */
  top: 10px; /* Adjust this value based on your header or desired position */
  z-index: 2; /* Make sure it's above other content */
}

/* Styles for the history pane */
.history-pane {
  transition: transform 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.923);
  color: #fff;
  width: 244px; /* Adjust width as needed */
  padding: 0.5rem;
  overflow-y: auto;
  position: fixed; /* Make it stay on the left */
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1; /* Ensure pane is below the toggle button */
  display: flex;
  flex-direction: column;
}

/* Style when the pane is closed */
.history-pane.closed {
  transform: translateX(-100%); /* Slide the pane out of view */
}

/* Styles for the container of the buttons inside the history pane */
.top-button-container {
  display: flex; /* Establish a flex container */
  justify-content: space-between; /* Space between the buttons */
  padding: 0 0.5rem; /* Add padding on the sides */
  margin-top: 0.6rem;
  margin-bottom: 1.9rem;
}

/* Style for the close pane button inside the history pane */
.close-pane-button {
  cursor: pointer; 
  color: #d9d9d9; /* Adjust color for visibility */
  background: none;
  border: none;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  margin-bottom: 1.7rem;
  margin-left: 1.03rem;
}

.close-pane-button-closed {
  color: black; /* Change the color to black */
}

.new-session-button {
  margin-left: auto; /* Push the button to the right */
  margin-top: 0.64rem;
  margin-bottom: 1.7rem;
  margin-right: 0.5rem;
  color: #d9d9e3;
  border: none;
  cursor: pointer;
  z-index: 2;
  background: none;
  font-size: 1rem;
}


.history-entry {
  /* Add styles for individual history entries here */
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding: 0.7rem;
  cursor: pointer; 
  &:hover {
    background-color: hsla(0,0%,100%,.1);
    border-radius: 0.5rem;
  }
  display: flex; /* Use Flexbox */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Align items vertically */
  font-size: 0.9rem;
  color: #d9d9e3;
  /* background-color: yellow;
  border: 1px solid blue; */
}



.history-pane-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.6rem;
  user-select: none;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns child to the end */
  height: 100%; /* Ensures it takes full height */
  /* margin-bottom: 1rem; */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use full viewport height */
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.7rem;
  position: relative;
  /* background-color: orange; */
  height: 3rem;
  width: 92%;
  position: absolute;
  bottom: 0rem;
}

.dropdown-menu li {
  list-style-type: none;
  width: 96%;
  margin-left: -2.35rem;
  padding: 0.6rem;
  user-select: none;
  display: flex;
  align-items: center;
  background-color: orange;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: hsla(0,0%,100%,.1);
  padding-left: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  bottom: 100%; /* Align the top of the dropdown with the bottom of the user-entry */
  left: 0; /* Align to the left of the user-entry */
  width: 92%;
  margin-bottom: 1.1rem;
  height: 3rem;
}

.fa-arrow-right-from-bracket {
  margin-right: 0.9rem;
}

.user-entry {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: SÃ¶hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  &:hover, &.active { /* Apply the same style for hover and active state */
      background-color: hsla(0,0%,100%,.1);
      border-radius: 0.5rem;
  }
  user-select: none;
}

.login-button {
  background-color: #ffffff; /* white background */
  color: #757575; /* Google's text color */
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* space between text and logo */
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.login-button:focus {
  outline: none;
  border-color: #4285f4;
}

/* Google logo class */
.google-logo {
  height: 2rem;
  width: 2rem;
  margin: auto;
}


.delete-session-button {
  margin-left: auto; /* Push the button to the right */
  cursor: pointer; 
  color: #d9d9e3;
  background: none;
  border: none;
  font-size: 0.9rem;
}


/* Optional: add media query for responsive design */
@media (max-width: 760px) {
  .history-pane {
    display: none; /* Hide history pane on small screens */
  }

  .chat-area {
    margin-left: 0; /* Remove margin to allow expansion */
  }

  .input-area {
    left: 0; /* Align input area with the full width of the window */
  }
}

.message {
  display: flex;
  align-items: flex-start; /* Aligns items at the start of the container */
  margin-bottom: 1.7rem;
  max-width: 600px;
  font-family: SÃ¶hne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.3rem;
  width: 100%;
  text-align: justify;
  margin-left: 1rem;
}

.message-question {
  white-space: pre-wrap; /* This will preserve line breaks and spaces as in the input */
}


.message-icon {
  margin-right: 0.8rem; /* Adjust as needed */
  /* Add styles for your icons here */
}

.display-image {
  margin-top: 0rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.message-content {
  flex-grow: 1;
}

.message-sender {
  font-weight: bold; /* Make the icon text bold */
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin-bottom: -0.7rem;
  color: rgb(14, 156, 52);
  user-select: none;
  display: block;
}

.message button {
  background-color: #FF9900; /* Amazon's signature orange color */
  color: white;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-align: justify;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.message button:hover {
  background-color: #cc7a00; /* A darker shade of orange for hover effect */
}

.message button:active {
  background-color: #e68a00; /* A lighter shade for active state */
}

.message button:focus {
  outline: none; /* Remove outline on focus */
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #FF9900; /* Optional: Add a focus ring */
}

h3 div img {
  margin-top: 0.8rem;
}

div img {
  margin-top: 0.6rem;
  margin-bottom: -0.4rem;
}
